<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/styles.css" rel="stylesheet">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="static/images/student.ico">
    <script>
        var hostname = window.location.hostname;
        var portNumber = window.location.port;

        var user_id = 0;
        {% if user %}
            user_id = Number({{user.id}});
        {% endif %}

        const hideWhenShowMore = ["homeA", "logoutA"];

        // SERVERSIDE EVENT
        var eventSource;

        document.addEventListener('DOMContentLoaded', function(){
            var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            const admNavItems = document.querySelectorAll(".admNavItem");
            if (screenWidth > 550) {
                document.getElementById("userBottomLabel").style.display = "none";
                document.getElementById("moreSelect").style.display = "none";
                // hideWhenShowMore.push("attendanceNav");
                admNavItems.forEach(elm => {
                    hideWhenShowMore.push(elm.id);
                });
            }
            else{
                document.getElementById('userNavLabel').style.display = "none";
                try{
                       // document.getElementById("attendanceNav").style.display = "none";
                       admNavItems.forEach(elm => {
                            elm.style.display = "none";
                        });
                }
                catch{

                }
            }
            // noMessages();
            // SERVERSIDE EVENT
            {% if user %}
                getNumAlertsFromDb();   // Not SSE
                connectToEventSource(Number({{user.id}}));

            {% endif %}
        });

        function showMore(){
            hideWhenShowMore.forEach(elm => {
               document.getElementById(elm).style.display = "none";
            });
            document.getElementById("merLabel").style.display = "none";
            document.getElementById("mindreLabel").style.display = "initial";
            document.getElementById("moreUl").style.display = "initial";

            const main = document.querySelector("main");
            main.className = "mainMore";
            const nav = document.querySelector("nav");
            nav.className = "navMore";
            document.getElementById("moreSelect").style.float = "right";
        }
        function showLess(){
            hideWhenShowMore.forEach(elm => {
               document.getElementById(elm).style.display = "initial";
            });
            document.getElementById("merLabel").style.display = "initial";
            document.getElementById("mindreLabel").style.display = "none";
            document.getElementById("moreUl").style.display = "none";

            const main = document.querySelector("main");
            main.className = "mainNormal";
            const nav = document.querySelector("nav");
            nav.className = "navNormal";
            document.getElementById("moreSelect").style.float = "none";
        }

        // SERVERSIDE EVENT
        function connectToEventSource(userId) {
            eventSource = new EventSource('https://localhost:7042/api/v1/ServerSideEvent/' + userId);

            eventSource.onopen = function(event) {
                console.log('Connected to server.');
                console.log("userId:", userId);
            };

            eventSource.onmessage = function(event) {
                // Handle incoming messages here
                console.log('Message:', event.data);
                const countLabel = document.getElementById("countLabel");
                var inner_html = countLabel.innerHTML;
                if (inner_html == "")  {
                    inner_html = 0;
                }
                else{
                    inner_html = Number(inner_html);
                }
                countLabel.innerHTML = inner_html + 1;
                noMessages();
            };

            eventSource.onerror = function(event) {
                if (event.eventPhase === EventSource.CLOSED) {
                    console.log('Connection closed.');
                    // Attempt to reconnect after a delay
                    setTimeout(function() {
                        connectToEventSource(userId);
                    }, 1000); // Try reconnecting after 3 seconds - Jeg ikke 3000 men 5!
                } else {
                    console.error('Error occurred:', event);
                }
            };
        }

        function noMessages(){
            // const msgLabel = document.getElementById("msgLabel");
            const msgA = document.getElementById("msgA");
            const countLabelValue = document.getElementById("countLabel").innerHTML;
            if (countLabelValue == ""){
                // msgLabel.style.display = "none";
                msgA.style.display = "none";
            }
            else{
                // msgLabel.style.display = "initial";
                msgA.style.display = "initial";
            }
        }

        function getNumAlertsFromDb(){
            const url = `http://${hostname}:${portNumber}/api/alert/user/${user_id}?number=Balle`;
            //const url = `http://${hostname}:${portNumber}/api/venue?from=${from}&to=${to}`;
            // const url = "http://127.0.0.1:5000/api/venue"
            console.log("URL:", url);
            fetch(url,
            {
                method: "GET"
            })
            .then(response =>{
                console.log(response);
                if(!response.ok){
                    throw new Error("Network response was not ok.");
                }
                return response.json();
            })
            .then(data =>{
                console.log("data", data);
                const numAlerts = Number(data['number']);
                if(numAlerts > 0){
                    console.log(data);
                    const countLabel = document.getElementById("countLabel");
                    countLabel.innerHTML = numAlerts;
                }
                noMessages();
            })
            .catch(error =>{
                console.error("There was a problem with the fetch operation:", error);
            });
        }
    </script>
    <style>
        #merLabel{
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }
        #mindreLabel{
            text-decoration: underline;
            /*color: blue;*/
            cursor: pointer;
            display: none;
        }
        #moreUl{
            display: none;
            flex-direction: column;
            z-index: 9;
        }
        #moreUl li {
            list-style: none;
            background: white;
            z-index: 9;
            padding-left: 5px;
            padding-top: 3px;
            /*background: #ffffe6;*/
            width: 70%;
        }
        nav{
            z-index: 9;
        }
        .navNormal{
            position: relative;
            width: auto;
        }
        .navMore{
            position: absolute;
            width: 100%;
        }
        .mainNormal{
            position: relative;
        }
        .mainMore{
            position: absolute;
            top: 30px;
            left: 32px;
        }
        @media screen and (max-width:550px){
            #msgLabel{
                display: none;
            }
            nav a {
                margin-right: 0;
            }
        }
    </style>
</head>
<body>
    <nav>
        {% if user %}
            <h1 style="text-align: center; font-weight: normal;display: inline;" class="logoH1" id="navH1">
                <span style="text-decoration: overline underline;text-underline-offset: 10px;font-size: 1em;">GA</span>
                <span style="font-size: 0.5em;position: relative; top:-3px;">GOKSTAD AKADEMIET</span>
            </h1>
            <a href="/" id="homeA">Hjem</a>
            <a href="/logout" id="logoutA">Logg ut</a>
            <a href="/alert_see_unseen" id="msgA"><label id="msgLabel">Meldinger: </label><label id="countLabel" style="color: red;"></label></a>
            {% if user.role in ["admin", "teacher"] %}
                <a href="/admin_lecture" id="lectureNav" class="admNavItem">Forel.</a>  <!-- id="attendanceNav" -->
                <a href={% if user.role == 'teacher' %}"/venue_calendar"{% else %}"/venue_admin"{% endif %} id="venueNav" class="admNavItem">Rom</a>
                <a href="/admin_exam" id="examNav" class="admNavItem">Eksamen</a>
                <a href="/admin_assignment" id="assignmentNav" class="admNavItem">Oppg.</a>
            {% else %}
                <a href="/calendar" id="calendarNav" class="admNavItem">Kalender</a>
                <a href="/StudentResources" id="studResNav" class="admNavItem">Student ressurser</a>
            {% endif %}
            <div id="moreSelect" style="display: inline-block">
                <label id="merLabel" onclick="showMore()">Mer▼</label>      <!-- ▾▽▴△  ▼▲-->
                <label id="mindreLabel" onclick="showLess()">Vis mindre▲</label>
                <ul id="moreUl">
                    {% if user.role in ["admin", "teacher"] %}
                        <li><a href="/admin_lecture" id="lectureNavOption">Forel.</a></li>
                        <li><a href= {% if user.role == 'teacher' %} "/venue_calendar" {% else %} "/venue_admin" {% endif %}
                            id="venueNavOption">Rom</a></li>
                        <li><a href="/admin_exam" id="examNavOption">Eksamen</a></li>
                        <li><a href="/admin_assignment" id="assignmentNavOption">Oppg.</a></li>
                    {% else %}
                        <li><a href="/calendar" id="calendarNavOption">Kalender</a></li>
                        <li><a href="/StudentResources" id="studResNavOption">Student ressurser</a></li>
                    {% endif %}
                </ul>
            </div>
            <label id="userNavLabel" style="float: right;padding-right: 100px;">Bruker: <label style="color: limegreen">{{user.gokstadmail}}</label></label>
        {% endif %}
        <br>
    </nav>
    <main style="z-index: 1;">
        {% block main %}{% endblock %}
    </main>
    <div id="userBottomLabel" >
        {% if user %}
            Logget inn som <label style="color: yellow;">{{user.gokstadmail}}</label>
        {% endif %}
    </div>
</body>
</html>
