{% extends "layout.html" %}

{% block title %}Forelesning{% endblock %}

{% block main %}

<style>
    #lectureSingleDiv{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
    }
    #lectureSingleDiv input, #lectureSingleDiv textarea, #lectureSingleDiv select{
        width: 400px;
    }
    #lectureSingleDiv input, #lectureSingleDiv textarea{
        padding-left: 6px;
    }

    @media screen and (max-width:550px) {
        #lectureSingleDiv {
            width: 96%;
            font-size: medium;
        }
    }

    @media screen and (min-width: 550px){
        #lectureSingleDiv input, #lectureSingleDiv textarea, #lectureSingleDiv select {
            font-size: large;
        }
    }

    .lectureButt{
        width: 49%;
        border-radius: 6px;
        color: white;
        cursor: pointer;
    }
</style>

<div id="lectureSingleDiv">     <!-- class="singleDiv" -->
    <h1 id="singleH1" style="text-align: center; margin-bottom: 4px;{% if to_do %} color:red; {% endif %}">
        {% if to_do %}{{to_do}}{% endif %}FORELESNING
    </h1>
    <table class="singleTable">
        <tr>
            <td class="singleBoldTd">Id:</td><td>{{lecture.id}}</td>
        </tr>
        <tr>
            <td class="singleBoldTd">Tema:</td><td>{{lecture.theme}}</td>
        </tr>
        <tr>
            <td class="singleBoldTd">Beskrivelse:</td><td>{{lecture.description}}</td>
        </tr>
        <tr>
            <td class="singleBoldTd">Start:</td><td>{{lecture.start_string}}</td>
        </tr>
        <tr>
            <td class="singleBoldTd">Slutt:</td><td>{{lecture.end_string}}</td>
        </tr>
        <tr>
            <td class="singleBoldTd">Varighet:</td><td>{{lecture.duration}}</td>
        </tr>
        <tr>
            <td class="singleBoldTd">Rom:</td><td>{{lecture.venueNames}}</td>
        </tr>
        <tr>
            <td class="singleBoldTd">Lærer(e):</td><td>{{lecture.teacherNames}}</td>
        </tr>

        <tr>
            <td class="singleBoldTd">Kursgjennom-føringsid:</td>
            <td><a href="{{lecture.courseImplementationLink}}">{{lecture.courseImplementationId}}</a></td>
        </tr>
        <tr>
            <td class="singleBoldTd">Kursgjennom-føringskode:</td><td>{{lecture.courseImplementationCode}}</td>
        </tr>
        <tr>
            <td class="singleBoldTd">Kursgjennom-føringsnavn:</td><td>{{lecture.courseImplementationName}}</td>
        </tr>
        {% if showButtons %}
            <tr>
                <td colspan="2" style="text-align: center">
                    <form action="{{lecture.link}}" method="post" style="display: inline">
                        <input style="display: none" value="DELETE" name="to_do">
                        <button class="lectureButt" style="background: red">✖ Slette</button>
                    </form>
                    <form action="{{lecture.link}}" method="post" style="display: inline">
                        <input style="display: none" value="{{lecture.id}}" name="to_do">
                        <button class="lectureButt" style="background: orange">✎ Endre</button>
                    </form>
                </td>
            </tr>
        {% endif %}
    </table>
</div>

{% endblock %}