{% extends "layout.html" %}

{% block head %}
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/styles_venues.css" rel="stylesheet">
    <style>
        #studResDiv{
            margin-left: 100px;
        }
        @media screen and (max-width: 550px){
            #studResDiv{
                margin-left: 4px;
            }
        }
        #studResH1{
            color: green;
        }
    </style>
{% endblock %}

{% block title %}
    Student Resources
{% endblock %}

{% block main %}
<div class="admin-venue-container" id="studResDiv">
    <h1 id="studResH1">Student Ressurser</h1>
    {% if resources %}
        <ul>
            {% for resource in resources %}
                <li>
                    <h2>{{ resource.title }}</h2>
                    <p>{{ resource.description }}</p>
                    <a href="{{ resource.url }}" target="_blank">Undervisnings-opptak</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No resources found.</p>
    {% endif %}
</div>
{% endblock %}
