{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/styles_venues.css">
{% endblock %}


{% block title %}Rom-kalender{% endblock %}

{% block main %}
    <script src="../static/JS/toVenue_Calendar_2.js"></script>

    <!--BROWSER VIEW-->
    <div id="venue_cal_PcDiv" class="venues">
            <div style="text-align: center; margin-bottom: 20px;">
                <label style="font-size: 30px; font-style: inherit "><b>ROM-KALENDER 🚪</b></label>
            </div>

            <form action="/set_date" method="post">
                <label for="startDateTime">Start:</label>
                <input type="datetime-local" id="startDateTime" name="startDateTime">

                <label for="endDateTime">End:</label>
                <input type="datetime-local" id="endDateTime" name="endDateTime">

                <button style="width: 120px; font-size: 15px;" type="submit">Sett dato</button>

                <a href="/add_lecture_one" class="venues_button-add">Ny forelesning</a>
            </form>

        <table style="width: 100%; border-collapse: collapse;">
            <!-- Venues -->
            <tr>
                <td style="width: 100px"></td>
                {% for venue in venues %}
                    <td style="border: 1px solid #ddd; padding: 8px; background-color: yellowgreen">
                        <b>{{ venue.name }}</b>
                            <p>Kapasitet: {{ venue.capacity }}</p>
                    </td>
                {% endfor %}
            </tr>
            <!-- Dates & Events-->
            {% for ed in days %}
                <tr style="height: 100px;">
                    <td class="{{ 'date_current' if ed.datestring == current_day else 'date' }}">
                        <b>{{ ed.datestring }}</b>
                        <a href="/add_lecture?date={{ ed.datestring }}" class="venues_button-add">Ny Forelesning</a>
                    </td>
                    <div class="venues_day-grid"></div>
                    <!-- Events -->
                    {% for venue in venues %}
                        <td style="width: calc(100% - 100px / {{ venues|length }}); background: whitesmoke; border: 1px solid #ddd; padding: 8px; ">
                            {% for event in ed.events %}
                                {% if event.venueId == venue.id %}
                                    <!--<div style="height: 100px; background: lightgray; overflow: hidden; text-overflow: ellipsis;  padding: 4px;">-->
                                    <div class="event" style="grid-column-start: {{ event.gridStart }}; grid-column-end: span {{ event.gridSpan }};">
                                        {{ event.courseImpName }}
                                        <br>
                                            <b>{{ event.datetime|date('%H:%M') }} - {{ event.datetimeEnd|date('%H:%M') if event.datetimeEnd }}</b>
                                        {% if event.link %}
                                            <a href="{{ event.link }}" target="_blank" class="venues_button-link">Redigere</a>
                                        {% endif %}
                                        </br>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <!--MOBILE VIEW-->
    <div id="venue_cal_MobDiv">

        <div style="text-align: center; margin-bottom: 20px;">
            <label style="font-size: 30px; font-style: inherit "><b>ROM-KALENDER 🚪</b></label>
        </div>

        <!-- date picker -->
        <form action="/set_date" method="post">
            <label for="startDateTime">Start:</label>
            <input type="datetime-local" id="startDateTime" name="startDateTime">

            <label for="endDateTime">End:</label>
            <input type="datetime-local" id="endDateTime" name="endDateTime">

            <button style="width: 120px; font-size: 15px;" type="submit">Sett dato</button>

            <a href="/add_lecture_one" class="venues_button-add">Ny forelesning</a>
        </form>

        <!-- Date Picker -->
        <div>
            <label for="filterDate">Filter Date:</label>
            <input type="date" id="filterDate" name="filterDate" onchange="filterVenue()">
        </div>

         <div style="align-items: center">
                <!-- Venue selector dropdown -->
            <div class="venue-selector">
                <label for="venueDropdown">Choose a venue:</label>
                <select id="venueDropdown" onchange="filterVenue()">
                    <option value="all">All Venues</option>
                    {% for venue in venues %}
                    <option value="{{ venue.id }}">{{ venue.name }}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <!-- VENUES & EVENTS DISPLAY -->
        {% for venue in venues %}
        <div class="venues" style="display: none;" id="venue-info-{{ venue.id }}" >
            <h2>{{ venue.name }}</h2>
            {% for ed in days %}
                <div class="{{ 'date_current' if ed.datestring == current_day else 'date' }}" id="date-{{ ed.date.strftime('%Y-%m-%d') }}" ></div>
                    <h3>{{  ed.datestring }}</h3>
                    {% for event in ed.events  %}
                        {% if event.venueId == venue.id %}
                        <div class="event" data-venue-id="{{ event.venueId }}" data-date="{{ event.date.strftime('%Y-%m-%d') }}">
                            <p>{{ event.courseImpName }}</p>
                            <p>{{ event.datetime.strftime('%Y-%m-%d') }}</p>
                        </div>
                        {% endif %}
                        {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
