{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/styles_venues.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/styles_venues_timeblocks.css">

    <style>
        .center-container
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100px; /* This makes sure that the container takes at least the full height of the viewport */

        }

        .menu-container
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media screen and (max-width: 550px) {
            .menuDiv
            {
                flex-direction: column; /* Stack children vertically */
                text-align: center; /* Center the text for each child */
            }
            .menuLabel {
                font-size: 80px; /* Optional: Adjust the font size for mobile */
            }
            .menuDiv > div {
                padding: 5px 0; /* Add some padding above and below the text */
            }
        }

        .menuDiv
        {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            padding: 10px;
            color: white;
            border-radius: 5px;
            margin: 0 5px;

        }
        .menuLabel{
            font-size: 130px;
        }

        .event
        {
            display: flex;
            flex-direction: column;
            background-color: #f0f0f0;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
            font-size: 0.9em;
        }

    </style>

{% endblock %}

{% block title %}Booking{% endblock %}

{% block main %}

    <div style="text-align: center; margin-bottom: 20px;">
        <label style="font-size: 30px; font-style: inherit "><b>Hva vil du registrere?</b></label>
    </div>

    <!-- BROWSER VIEW -->
    <div id="venue_booking_PcDiv">

        <div class="menu-container">
            <div class="event">
                <p>Date: {{ date }}</p>
                <p>Time: {{ time }}</p>
                <p>Venue ID: {{ venue_id }}</p>
                <p>Venue Name: {{ venue_details.name }}</p>
                <p>Capacity: {{ venue_details.capacity }}</p>
            </div>

            <a class="menuDiv" style="background: green;" href="/book_from_venue_lecture?day={{ day }}&date={{ date }}&time={{ time }}&venue_id={{ venue_id }}">
                <div>Forelesning</div>
                <label class="menuLabel">📃</label>
            </a>

            <a class="menuDiv" style="background: blue;" href="/book_from_venue_exam?day={{ day }}&date={{ date }}&time={{ time }}&venue_id={{ venue_id }}">
                <div>Eksamen</div>
                <label class="menuLabel">📃</label>
            </a>
        </div>

        <div style="display: flex; justify-content: center; padding-top: 10px">
            <a style=" font-size: 18px" class="venues_button-back" href="/venue_calendar">Tilbake⬅️</a>
        </div>

    </div>


    <!-- MOBILE VIEW -->
    <div id="venue_booking_MobDiv">

        <div class="menu-container">

            <a class="menuDiv" style="background: green;" href="/book_from_venue_lecture?day={{ day }}&date={{ date }}&time={{ time }}&venue_id={{ venue_id }}">
                <div>Forelesning</div>
                <label class="menuLabel">📃</label>
            </a>

            <a class="menuDiv" style="background: blue;" href="/book_from_venue_exam?day={{ day }}&date={{ date }}&time={{ time }}&venue_id={{ venue_id }}">
                <div>Eksamen</div>
                <label class="menuLabel">📃</label>
            </a>

        </div>

        <div class="event">
            <p>Date: {{ date }}</p>
            <p>Time: {{ time }}</p>
            <p>Venue ID: {{ venue_id }}</p>
            <p>Venue Name: {{ venue_details.name }}</p>
            <p>Capacity: {{ venue_details.capacity }}</p>
        </div>

        <div style="display: flex; justify-content: center; padding-top: 10px">
            <a style=" font-size: 18px" class="venues_button-back" href="/venue_calendar">Tilbake⬅️</a>
        </div>
    </div>

    <script src="../static/JS/toVenue_Calendar.js"></script>


{% endblock %}
