{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/styles_venues.css">
    <link rel="stylesheet" href="../static/styles_venues_timeblocks.css">
{% endblock %}

{% block title %}Booking{% endblock %}

{% block main %}

    <h1>Her kommer booking av Lectures og Exam basert på venue</h1>
    <a style="width: 100px;" class="submit-button" href="/venue_calendar">Tilbake</a>

    <!-- Check for and display the day, date, and venue_id -->
    <div>
    {% for day in ed %}
        {% if day %}
            <p>Day: {{ day }}</p>
        {% else %}
            <p>Day information is missing.</p>
        {% endif %}

        {% if date %}
            <p>Date: {{ date }}</p>
        {% else %}
            <p>Date information is missing.</p>
        {% endif %}

        {% if venue_id %}
            <p>Venue ID: {{ venue_id }}</p>
        {% else %}
            <p>Venue information is missing.</p>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
