{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="static/styles_venues.css">
{% endblock %}


{% block title %}Rom-kalender{% endblock %}

{% block main %}
    <div style="padding-left: 100px;">

        <div style="text-align: center">
            <label style="font-size: 30px; font-style: inherit "><b>ROM-KALENDER 🚪</b></label>
        </div>

        <form action="/set_date" method="post">
            <label for="startDateTime">Start:</label>
            <input type="datetime-local" id="startDateTime" name="startDateTime">

            <label for="endDateTime">End:</label>
            <input type="datetime-local" id="endDateTime" name="endDateTime">

            <button style="width: 120px; font-size: 15px;" type="submit">Sett dato</button>

            <a href="/add_lecture_one" class="venues_button-add">Ny forelesning</a>

        </form>
    </div>


    <table style="width: 100%; border-collapse: collapse;">
        <!-- Venues -->
        <tr>
            <td style="width: 100px"></td>
            {% for venue in venues %}
                <td style="border: 1px solid #ddd; padding: 8px; background-color: yellowgreen">
                    <b>{{ venue.name }}</b>
                        <p>Kapasitet: {{ venue.capacity }}</p>
                </td>
            {% endfor %}
        </tr>
        <!-- Dates & Events-->
        {% for ed in days %}
            <tr style="height: 100px;">
                <td style="height: 100px; white-space: nowrap; background-color: {{ 'greenyellow' if ed.datestring == current_day else 'yellowgreen' }}; border: 1px solid #ddd; padding: 8px">
                    <b>{{ ed.datestring }}</b>
                    <a href="/add_lecture?date={{ ed.datestring }}" class="venues_button-add">Ny Forelesning</a>
                </td>
                <div class="venues_day-grid"></div>
                <!-- Events -->
                {% for venue in venues %}
                    <td style="width: calc(100% - 100px / {{ venues|length }}); background: whitesmoke; border: 1px solid #ddd; padding: 8px; ">
                        {% for event in ed.events %}
                            {% if event.venueId == venue.id %}
                                <!--<div style="height: 100px; background: lightgray; overflow: hidden; text-overflow: ellipsis;  padding: 4px;">-->
                                <div class="event" style="grid-column-start: {{ event.gridStart }}; grid-column-end: span {{ event.gridSpan }};">
                                    {{ event.courseImpName }}
                                    <br>
                                        <b>{{ event.datetime|date('%H:%M') }} - {{ event.datetimeEnd|date('%H:%M') if event.datetimeEnd }}</b>

                                    {% if event.link %}
                                        <a href="{{ event.link }}" target="_blank" class="venues_button-link">Redigere</a>
                                    {% endif %}
                                    </br>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
