{% extends "layout.html" %}
{% block title %}Arbeidskrav{% endblock %}

{% block main %}

{% block head %}
{% endblock %}


    <form action="/admin_assignment" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="deadline">Deadline:</label>
        <input type="datetime-local" id="deadline" name="deadline" required>

        <label for="courseImplementationId">CourseImplementationId:</label>
        <input type="number" id="courseImplementationId" name="courseImplementationId" required>

        <button type="submit">Registrer</button>
    </form>
{% endblock %}
