{% extends "layout.html" %}

{% block title %}Arbeidskrav{% endblock %}

{% block main %}
<style>
    table{
        margin: auto;
    }
    button{
        font-size: x-small;
        border-radius: 4px;
        width: 40%;
    }
    td{
        vertical-align: top;
    }
    @media screen  and (max-width:550px){
        .smallFontA{
            font-size: small;
        }
    }

</style>

<script>
    function getAssignmentById(event) {
    const assignmentId = Number(document.getElementById("assignmentIdInput").value);
    if (assignmentId === 0) {
        document.getElementById("popupError").innerHTML = "Du må oppgi et arbeidskrav-id";
        return;
    }

    const url = `/api/assignment/${assignmentId}`;
    console.log("URL:", url);

    fetch(url, { method: "GET" })
    .then(response => {
        if (!response.ok) {
            throw new Error("Network response was not ok.");
        }
        return response.json();
    })
    .then(data => {
        console.log("Fetched assignment data:", data);
        if ("err_msg" in data){
            document.getElementById("popupError").innerHTML = data_err_msg;
        } else {
            console.log(data.category)
        }
        // document.getElementById("formButton").click();
    })
    .catch(error => {
        console.error("Fetch error:", error);
        alert("Error fetching assignment details.");
    });
}

</script>

<h1 class="bigHeadlineH1">
    {{head_prefix}}ARBEIDSKRAV
</h1>
<table>
    <tr>
        <td>Id:</td><td>{{assignment.id}}</td>
    </tr>
    <tr>
        <td>Kursgjennomførings-id:</td> <td>{{assignment.courseImplementationId}}</td>
    </tr>
    <tr>
        <td>Kursgjennomførings-kode:</td><td>{{assignment.courseImplementationCode}}</td>
    </tr>
    <tr>
        <td>Kursgjennomførings-navn:</td><td>{{assignment.courseImplementationName}}</td>
    </tr>
    <tr>
        <td>Name:</td><td>{{assignment.name}}</td>
    </tr>
    <tr>
        <td>Deadline</td><td>{{assignment.deadline}} timer</td>
    </tr>
    <tr>
        <td>Beskrivelse:</td><td>{{assignment.description}}</td>
    </tr>
    <tr>
        <td>Link:</td><td><a href="{{assignment.link}}">{{assignment.link}}</a></td>
    </tr>
    <tr>
        <td>Kursgjennomførings-link:</td>
        <td><a href="{{assignment.courseImplementationLink}}" class="smallFontA">{{assignment.courseImplementationLink}}</a></td>
    </tr>
    <tr>
        <td><a href="/template_assignment">Tilbake til arbeidskrav</a></td>
        <td>
            <button data-action="slette" onclick="getAssignmentById(event)">Slett!</button>
            <button data-action="endre" onclick="getAssignmentById(event)">Endr!</button>
        </td>
    </tr>
</table>

<form style="display: none" id="form" action="/conf_assignment" method="post">
    <input name="action" id="actionInput">
    <button id="formButton"></button>
</form>

{% endblock %}
