/* admin_venue_styles.css */

.venues
{
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 like kolloner, 1 for hver time */
    gap: 2px;
}

.event
{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.event > *
{
    margin-bottom: 5px;
}

.event > *:last-child
{
    margin-bottom: 0;
}

.date_current
{
    background-color: lightgoldenrodyellow;
    height: 100px;
    white-space: nowrap;
    border: 1px solid #dddddd;
    padding: 8px;

}

.date
{
    background-color: yellowgreen;
    height: 100px;
    white-space: nowrap;
    border: 1px solid #dddddd;
    padding: 8px;
}

.date_weekend
{
    background-color: grey;
    height: 100px;
    white-space: nowrap;
    border: 1px solid #dddddd;
    padding: 8px;
}

.venue-selector
{
    margin: 20px 0;
    text-align: center;

}

#venueDropdown
{
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

#venue_cal_MobDiv
{
    display: none;
}



.calendar-title
{
    text-align: center;
    /* Other styles */
}

/*---------------------------------------*/
/* scrollable table */

@media screen and (max-width: 768px)
{
    .venues
    {
        padding-left: 10px;
    }

    .venues > div,
    .venue-selector,
    form,
    .venues_button-add,
    .venues_button-link
    {
        padding-left: 0;
        text-align: center;
    }

    .venue-selector select,
    input[type="datetime-local"],
    button
    {
        width: 100%;
        margin-bottom: 10px;
    }

    table
    {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .event {
        font-size: clamp(0.8rem, 4vw, 1rem);
    }

    td {
        max-width: 100%;
    }

    th {
        font-size: 14px;
    }


    .calendar-title
    {
        text-align: left;
        padding-left: 20px;
    }

    .date
    {
        padding-bottom: 100px;
    }

    .date_weekend
    {
        padding-bottom: 100px;
    }

    .date_current
    {
        padding-bottom: 100px;
    }'
}

.datePicker
{
    border-style: solid;
    font-family: Calibri;
    font-size: 20px;
    width: 70%;
    align-items: center;
}

.datePickerBrowser
{
    border-style: solid;
    font-family: Calibri;
    font-size: 10px;
    width: 20%;
}

.datePickerBrowser, .submit-button {
    width: 90%;
    font-size: 15px;
    margin: 0 auto;
    display: block;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.submit-button {
    display: inline-block; /* Allows block-level styling on inline elements like <a> */
    background-color: palegreen;
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 0px;
    border: 1px solid grey;
    cursor: pointer;
    margin: 5px; /* Optional: Adds some space around the button */
    text-align: center;
}


.form-container {
    display: flex;
    flex-direction: row; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: start; /* Align children to the start of the container */
    padding-left: 100px;
}


.book_rom_button {
    width: 100%;
    display: inline-block;
    background-color: whitesmoke;
    color: dimgray;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 25px;
    line-height: 20px;
    cursor: pointer;
}

.book_rom_button:hover {
    background-color: greenyellow; /* Lighter shade for hover */
    color: black; /* Change text color on hover */
}


.venues_button-link
{
    display: inline-block;
    background-color: lightgrey;
    color: dimgray;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px; /* runde hjørner */
    width: 60px;
    height: 15px;
    line-height: 20px;
    border: none; /* uten border */
    cursor: pointer; /* endre pil til peker */
    float: right;
}

.venues_button-add {
    background-color: palegreen;
    color: black;
    padding: 2px 5px;
    text-decoration: none;
    border-radius: 0px;
    border-style: outset;
    border-color: grey;
    cursor: pointer;
    font-size: 12px;
    width: 80px;
    height: 30px;
}


@media screen and (max-width: 768px)
{
    .venues_button-add
    {
        max-width: 100%;
        font-size: 15px;
        column-span: none;

    }

}

.venues_event {
    grid-column-start: auto; /* start tid */
    grid-column-end: span 1; /* event-duration */
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
    border-radius: 4px;
}

.venues_day-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 like kolloner, 1 for hver time */
    gap: 2px;
}


@media screen and (max-width: 768px) {
    .venues table{
        padding: 10px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

@media screen and (max-width: 480px) {
    .venues {
        padding: 5px;
    }
    .calendar-title{
        font-size: 24px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px){
    .venues > div {
        padding-left: 20px;
    }
}


@media screen and (max-width: 768px) {
    input[type="datetime-local"], button {
        padding: 10px; /* Increase padding */
        font-size: 19px; /* Increase font size for better readability */
    }
}

@media screen and (max-width: 768px) {
    .venue-selector select {
        width: 100%; /* Make the select box full width */
        max-width: 300px; /* Prevent it from being too wide */
        margin: 0 auto; /* Center it */
    }
}



/*---------------- UNUSED -----------------------*/

/*
.admin-venue-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    background-color: white;
    background-image: conic-gradient(green, whitesmoke);
}

.admin-calendar-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.admin-calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin-calendar-header h3 {
    margin: 0;
}

.admin-calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.admin-calendar-day {
    padding: 10px;
    background: #f0f0f0;
    text-align: center;
    border-radius: 5px;
}


.admin-event {
    background-color: #eef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.admin-venue-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: whitesmoke;
}


.admin-venue-table th, .admin-venue-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.admin-venue-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

*/

/*
.admin-venue-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


.admin-venue-table, .calPcDayTab {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-venue-table th, .admin-venue-table td, .calPcDayTab th, .calPcDayTab td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.admin-venue-table th, .calPcDayTab th {
    background-color: #f2f2f2;
}

.admin-venue-table tr:nth-child(even), .calPcDayTab tr:nth-child(even) {
    background-color: #f9f9f9;
}


.admin-venue-event {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.admin-venue-event span {
    display: block;
    margin-bottom: 5px;
}

.admin-venue-event span:last-child {
    margin-bottom: 0;
}
*/
