.day {
    margin-bottom: 20px;
}

.time-block {
    padding: 8px;
    border: 1px solid #dddddd;
    margin-bottom: 5px;
    background-color: yellowgreen;
    min-height: 50px;
    min-width: 50px;
    text-align: center;
    font-size: 20px;
}
@media screen and (max-width: 550px){
    .time-block{
        width: 90%;
        padding-left: 30px;
    }

}

.time-block span {
    display: block;
    margin-bottom: 5px;
}

.time-block ul {
    padding-left: 20px;
    margin: 0;
}
