{% extends "layout.html" %}

{% block title %}LectureAdmin{% endblock %}

{% block main %}
<script>
    // document.addEventListener('DOMContentLoaded', function(){
    //     var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    //     if (screenWidth > 550) {
    //         document.getElementById("indexAttendanceA").style.display = "none";
    //     }
    //     else{
    //     }
    // });
</script>
<h1 class="bigHeadlineH1">
    FORLESNINGER
</h1>

<div>
    <a class="menuDiv" style="background: orangered; display: block;text-decoration: none" href="/add_lecture">
        <div>REGISTRÉRE<br><span style="font-size: xxx-large; color: white">✔</span></div>
    </a>

    <a class="menuDiv" style="background: palevioletred;" href="/search_lecture">
        <div style="word-wrap: break-word">SØKE-ENDRE-SLETTE<br><span style="font-size: xxx-large;">🔍</span></div>
    </a>
</div>

{% endblock %}