{% extends "layout.html" %}

{% block title %}NewLecture{% endblock %}

{% block main %}
<script>
    var hostname = window.location.hostname;
    var portNumber = window.location.port;

    {% if prefill %} const prefill= {{prefill|tojson}} {% endif %}

    document.addEventListener('DOMContentLoaded', function(){
        document.querySelectorAll('input[type="datetime-local"]').forEach(elm =>{
            elm.addEventListener('change', enableCheckBoxAndUpdateVenues);
        });

        {% if prefill %} fillPrefill(); {% endif %}
    });

    function fillPrefill(){
        document.getElementById("startInput").value = prefill.start_date_iso;
        if (prefill.end_date){
            document.getElementById("endInput").value = prefill.end_date_iso;
        }
        setTimeout(()=>{
            const cb = document.getElementById("roomCheckBox");
            cb.disabled = false;
            cb.click();
            const opts = document.getElementById("venueSelect").options;
            Array.from(opts).forEach(elm =>{
               if (elm.value == prefill.venue_id){
                   elm.selected = true;
               }
            });
            console.log("BALLE");
        }, 250);

    }

    function enableCheckBoxAndUpdateVenues(){
        const start = document.getElementById("startInput").value;
        const end =  document.getElementById("endInput").value;
        const bookLabel = document.getElementById("bookLabel");
        const roomLabel = document.getElementById("roomLabel");
        if (start !== '' && end !== ''){
            document.getElementById('roomCheckBox').disabled = false;
            bookLabel.style.display = "none";
            roomLabel.style.opacity = "100%";
            getVenuesFromApi(start, end);
        }
        else{
            bookLabel.style.display = "initial";
            roomLabel.style.opacity = "50%";
        }
    }

    function showBookRoom(){
        const roomSelect = document.getElementById("venueSelect");
        const visible = roomSelect.style.visibility;
        if(visible == 'hidden'){
            roomSelect.style.visibility = "visible";
        }
        else{
            roomSelect.style.visibility = "hidden";
            var optionToSelect = roomSelect.querySelector('option[value="0"]');
            optionToSelect.selected = true;
        }
    }

    function getVenuesFromApi(from, to){
        const url = `http://${hostname}:${portNumber}/api/venue?from=${from}&to=${to}`;
        // const url = "http://127.0.0.1:5000/api/venue"
        fetch(url,
            {
                method: "GET"
            })
            .then(response =>{
                if(!response.ok){
                    throw new Error("Network response was not ok.");
                }
                return response.json();
            })
            .then(data =>{
                console.log(data);
                const select = document.getElementById("venueSelect");
                select.innerHTML = "<option selected value='0'></option>"
                data.forEach(elm =>{
                    const option = document.createElement('option');
                    option.value = elm.id;
                    option.innerHTML = `Id:${elm.id} Navn:${elm.name} ${elm.locationName} Kapaistet:${elm.capacity}`;
                    select.append(option);
                })
            })
            .catch(error =>{
                console.error("There was a problem with the fetch operation:", error);
            })
    }
</script>
<style>
    #bookLabel{
        font-size: x-small;
        color: orangered;
        position: relative;
        /*top: -3px;*/
    }
    #roomLabel{
        opacity: 50%;
    }
</style>
<h1 class="bigHeadlineH1">
    {% if put %} ENDRE FORELESNING #{{put}} {% else %} NY FORLESNING {% endif %}
</h1>
<div class="singleDiv">
    <form {% if put %} action="{{lecture.link}}" {% else %} action="/conf_lecture_one" {% endif %} method="post">
        <table class="singleTable">
            <tr>
                <td>Kurs-gjennomføring:</td>
                <td>
                    <select name="courseId">
                        {% for cimp in courseImps %}
                        <option value="{{cimp.id}}" {% if put %} {% if cimp.id == lecture.courseImplementationId %} selected {% endif %} {% endif %}>
                            {{cimp.id}} {{cimp.code}} {{cimp.name}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tema:</td>
                <td><input name="theme" required placeholder="obligatorisk"
                    {% if put %} value="{{lecture.theme}}" {% endif %}>
                </td>
            </tr>
            <tr>
                <td>Beskrivelse:</td>
                <td>
                    <textarea name="description" placeholder="valgfri">{% if put %}{{lecture.description}}{% endif %}</textarea>
                </td>
            </tr>
            <tr>
                <td>Start-tidspunkt:</td>
                <td><input type="datetime-local" name="start" required id="startInput"
                    {% if put %} value="{{lecture.startTime}}" {% endif %}>
                </td>
            </tr>
            <tr>
                <td>Slutt-tidspunkt:</td>
                <td><input type="datetime-local" name="end" required id="endInput"
                    {% if put %} value="{{lecture.endTime}}" {% endif %}>
                </td>
            </tr>
            <tr>
                <td>
                    <label id="roomLabel">Book rom:</label>
                    <input type="checkbox" onchange="showBookRoom()" id="roomCheckBox" disabled>
                    <br><label id="bookLabel">(Når start/slutt utfylt)</label>
                </td>
                <td>
                    <select name="venueId" id="venueSelect"
                        {% if put and lecture.venueId %} style="visibility: visible" {% else %} style="visibility: hidden" {% endif %}>
                        <option selected value="0"></option>
                        {% for venue in venues %}
                        <option value="{{venue.id}}" {% if put and lecture.venueId== venue.id %} selected {% endif %}>
                            Id:{{venue.id}} Navn:{{venue.name}} {{venue.locationName}} Kapasitet:{{venue.capacity}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr style="display:none">
                <td>
                    <input value="PUT_EXECUTE" name="to_do">
                </td>
            </tr>
            <tr>
                <!--<td id="empytTd"></td>-->
                {% if put %}
                    <td class="buttonTd" colspan="2"><button class="styleButt" type="submit">Endre</button></td>
                {% else %}
                    <td class="buttonTd" colspan="2"><button class="styleButt" type="submit">Registrér</button></td>
                {% endif %}
            {% if not put %}
            </tr>
             <tr>
                <td class="buttonTd" colspan="2">
                    <a href="/venue_calendar" class="styleButt" style="display: inline-block; text-align: center; width: 100%; font-size: 25px; padding: 10px 0; text-decoration: none; color: white; background-color: #007bff; border-radius: 5px; cursor: pointer;">Se ledige rom</a>
                </td>
             </tr>
            {% endif %}

        </table>
    </form>

</div>

{% endblock %}
