{% extends "layout.html" %}

{% block title %}LectureAdmin{% endblock %}

{% block main %}
<script>
    function searchById(){
        const id = document.getElementById("lectureIdInput").value;
        if (id == ""){
            alert("Hvis du skal søke på id, må du legge inn et heltall.");
            return;
        }
        const anchor = document.getElementById("lecIdAnchor");
        // anchor.setAttribute("href", id);
        anchor.href = `Lecture/${id}`;
        // alert(document.getElementById("lecIdAnchor").href);
        anchor.click();
    }
</script>
<style>
    #lectureSearchSingleDiv{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-family: "Times New Roman";
        /*font-size: 1em;*/
        /*font-size: x-large;*/
    }
    td, input{
        font-size: x-large;
    }
    td{
        padding-bottom: 6px;
    }
    button{
        font-family: "Times New Roman";
        font-size: x-large;
        border-radius: 6px;
        color: white;
        background: green;
    }

    table{
        margin-left: auto;
        margin-right: auto;
    }

    input, button, select{
        /*width: 100%;*/
        width: 300px;
    }

    @media screen and (max-width:550px) {
        #lectureSearchSingleDiv {
            width: 96%;
            font-size: medium;
        }
        td, button, input {
            font-size: medium;
        }
        table{
            margin: initial;
        }
        button, input, select{
            width: 170px;
        }
    }
    /*
    @media screen and (max-width: 550px){
        input{
            max-width: 400px;
        }
    }*/


</style>

<div id="lectureSearchSingleDiv">
    <h1 class="bigHeadlineH1">
        SØK FORLESNINGER
    </h1>

    <table>
        <tr>
            <td>ForelesningsId:</td>
            <td>
                <input type="number" name="lectureId" id="lectureIdInput">
            </td>
        </tr>
        <tr>
            <td></td><td><button onclick="searchById()">Finn forelesning</button></td>
        </tr>
        <a id="lecIdAnchor" style="display: none"></a>

        <tr><td><br></td><td></td></tr>
        <form action="/search_lecture_result" method="post">
            <tr>
                <td>Start etter:</td>
                <td>
                    <input type="datetime-local" name="startAfter">
                </td>
            </tr>
            <tr>
                <td>Slutt før:</td>
                <td>
                    <input type="datetime-local" name="endBy">
                </td>
            </tr>
            <tr>
                <td>Kursgjennomføring:</td>
                <td>
                    <select name="courseImpId">
                        <option selected></option>
                        {% for ci in courseImps %}
                            <option value="{{ci.id}}">{{ci.name}} {{ci.code}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Rom:</td>
                <td>
                    <select name="venueId">
                        <option selected></option>
                        {% for v in venues %}
                            <option value="{{v.id}}">{{v.name}} {{v.locationName}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Lærer:</td>
                <td>
                    <select name="teacherId">
                        <option selected></option>
                        {% for u in users %}
                            <option value="{{u.id}}">{{u.firstName}} {{u.lastName}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td></td><td><button>Søk forelesning</button></td>
            </tr>
        </form>
    </table>

</div>

{% endblock %}